<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="StaticContent" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <rule name="NodeApp" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>

      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />

    <iisnode
      devErrorsEnabled="true"
      loggingEnabled="true"
      logDirectory="iisnode"
      watchedFiles="server.js;web.config;node-backend\routes\users.js;node-backend\routes\products.js;node-backend\routes\operators.js;node-backend\routes\reports.js"
    />

  </system.webServer>
</configuration>
